<div class="row">
  <div class="col-auto">
    <h2 class="greeting">Welcome to your User Dashboard, {{username}}!</h2>
  </div>
</div>

<div id="search-bar-wrapper" class="row mt-4">
  <h3 class="section-title">Food Nutritional Facts Checker:</h3>
  <div class="form-group">
    <label for="food-query">Enter Food Name:</label>
    <input class="form-input" type="text" id="food-query" placeholder="salmon" />
    <button id="search" type="submit" class="btn btn-primary submit">Search</button>
  </div>
  <div id="loading" style="display:none">
    <div id="emoji">
      {{{get_emoji}}}
    </div>
    <p id="loading-text">Fetching Food Data ...</p>
  </div>
</div>

<div id="post-recipe-wrapper" class="row mt-4">
  <div class="col-md-6">
    <h3 class="section-title">Post a New Recipe:</h3>

    <form class="form new-recipe">
      <div class="form-group">
        <label for="recipe-name">Recipe Title:</label>
        <input class="form-input" type="text" id="recipe-name" placeholder="Chicken Noodle Soup" />
      </div>
      <br>
      <div class="form-group">
        <label for="main-ingredient">Main Ingredient in Recipe:</label>
        <input class="form-input" id="main-ingridient" placeholder="chicken"></input>
      </div>
      <br>
      <div class="form-group">
        <p>Enter Recipe Below:</p>
        <textarea class="form-input" id="recipe-text"></textarea>
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary submit">Post Recipe</button>
      </div>
    </form>
  </div>
</div>
<div id="previous-recipe-wrapper">
  {{!-- Show recipes posted by user --}}
  {{#if recipes.length}}
  <div class="col-md-6 project-list">
    <h3>Your Recipe Posts:</h3>

    {{#each recipes as |recipe|}}
    <div class="user-recipe">
      <div>
        <h4 class="previous-titles"><a href="/recipe/{{recipe.id}}">{{recipe.title}}</a></h4>
      </div>
      <div class="buttons">
        <button class="btn btn-sm btn-danger submit" id="deletepostbutton" data-id="{{recipe.id}}">DELETE</button>
      </div>
      <div class="buttons">
        <button class="btn btn-sm btn-danger submit update-recipe" data-id="{{recipe.id}}">UPDATE</button>
      </div>

      <div class="edit-recipe-wrapper" style="display:none">
        <form class="form">
          <div class="form-group">
            <label for="recipe-name">Recipe Title:</label>
            <input class="form-input" type="text" id="recipe-name" placeholder="{{recipe.title}}" />
          </div>
          <br>
          <div class="form-group">
            <label for="main-ingredient">Main Ingredient in Recipe:</label>
            <input class="form-input" id="main-ingredient" placeholder="{{recipe.main_ingredient}}">
          </div>
          <br>
          <div class="form-group">
            <p>Enter Recipe Below:</p>
            <textarea class="form-input update-text">{{recipe.recipe_text}}</textarea>
          </div>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-primary submit cancel">Cancel</button>
            <button type="submit" class="btn btn-primary submit">Update Recipe</button>
          </div>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <h3>Your Recipe Posts:</h3>
  <p>You haven't posted any recipe yet!</p>
  {{/if}}

</div>

<script src="./js/dashboard.js"></script>
<script src="./js/nutrition.js"></script>