{{!-- Conditionally render a welcome or sign-up/login message --}}
{{#if logged_in}}
<h4 class="greeting">Welcome back!</h4>
{{else}}
<h4 class="greeting">Below are some examples of recent recipes. To see the full functionality of the Recipe Health Guru,
  we invite you to either
  <a href="/login">login</a> or
  <a href="/login">make an account</a>.
</h4>
{{/if}}

<br>
<hr class="hr">
<br>
<h3 class="author homepage-title">Recently Posted Recipes:</h3>
<br>

<!-- Loop over each object in the recipes array -->
{{#each recentRecipes as |recipe| }}
<div class="recipe-wrapper">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a class="recipe-title" href="/recipe/{{recipe.id}}">{{recipe.title}}</a>
    </h2>

    <p class="author">Posted by {{recipe.user.username}} on {{format_date recipe.createdAt}}</p>
  </div>
  <div class="col-md-7">
    <p class="recipe-text">
      {{recipe.recipe_text}}
    </p>
  </div>
</div>
{{/each}}