<div class="listOfRecipes">
  <h2 id="all-recipes-title">All Posted Recipes:</h2>
  {{#each recipes as |recipe| }}
  <div class="recipe-wrapper">
    <div class="col-md-5">
      <h2>
        {{{get_emoji}}}
        <a class="recipe-title" href="/recipe/{{recipe.id}}">{{recipe.title}}</a>
      </h2>

      <p class="author">Posted by {{recipe.user.username}} on {{format_date recipe.createdAt}}</p>
      
    </div>
    <div class="col-md-7">
      <p>
        {{recipe.recipe_text}}
      </p>
    </div>
  </div>
  {{/each}}
</div>