<div class="single-recipe-wrapper">
  <h2 id="recipe-title">{{title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
  <p id="recipe-text">{{recipe_text}}</p>
</div>

</div>
{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}